VGLgfx/.vs/
VGLgfx/.vscode/
VGLgfx/.local-history/
VGLgfx/.history/
VGLgfx/cloc.exe
VGLgfx/out/
VGLgfx/build/
VGLgfx/test/VGLgfxTest.exe
VGLgfx/test/VGLgfxTest.ilk
VGLgfx/test/VGLgfxTest.pdb
VGLgfx/test/VGLgfxTest2D.exe
VGLgfx/test/VGLgfxTest2D.ilk
VGLgfx/test/VGLgfxTest2D.pdb
VGLgfx/test/VGLvxgi.exe
VGLgfx/test/VGLvxgi.ilk
VGLgfx/test/VGLvxgi.pdb
VGLgfx/test/data
VGLgfx/test/.vs
VGLgfxEditor/build/
VGLgfxEditor/out/
VGLgfxEditor/.vs/
VGLgfxEditor/projects/Global_Assets/
.vs/
Example/build/
references/
